body{
    flex:auto;
    padding: 20px;
}

.left-container {
    width: 20%;
}

.right-container {
    width: 20%;
}

.center-container {
    width: 60%;
    justify-content: center;
    align-items: center;
    /* display: flex; Add this line */
}